/* BELOW 960px */
/* 960/16 = 60 */
@media (max-width: 60em) {
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto auto auto;
  }

  .container {
    row-gap: 4rem;
  }

  .hero {
    grid-column: 1 / -1;
  }

  .new {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
  }

  article {
    grid-column: 2 / -1;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .btn-mobile-nav:hover {
    background-color: transparent;
  }

  .nav {
    background-color: #fffdfa;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 25rem 4rem;
    z-index: 98;
    transform: translateX(100%);
    transition: all 0.5s ease-in;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .open #close-outline {
    display: block;
  }

  .open #menu-outline {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    font-size: 2rem;
    color: #00001a;
  }
}

/* BELOW 700px */
@media (max-width: 44em) {
  .header {
    padding-top: 6rem;
  }

  .container {
    row-gap: 4rem;
  }

  .hero {
    row-gap: 2.5rem;
  }

  h1,
  .hero__text-box {
    grid-column: 1 / -1;
  }

  .hero__text-box {
    margin-left: 0;
  }

  .hero__description {
    margin-bottom: 2.5rem;
  }
}

/* BELOW 500px */
@media (max-width: 31em) {
  .grid--2-cols,
  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .header {
    max-width: 37.5rem;
    padding: 2.7rem 1.6rem 0;
  }

  .logo {
    height: 2.8rem;
  }

  .nav {
    width: 65%;
    padding-top: 15rem;
  }

  .nav-list {
    font-size: 1.8rem;
    gap: 3rem;
  }

  .container {
    max-width: 37.5rem;
    padding: 3rem 1.6rem 0;
  }

  .hero,
  .new,
  article {
    grid-column: 1 / -1;
  }

  .hero {
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2rem;
  }

  .hero__img {
    grid-row: 1/ 3;
    object-fit: cover;
  }

  h1 {
    font-size: 4rem;
  }
}
